# See https://help.github.com/ignore-files/ for more about ignoring files.

# Custom Ignore
swarm_env/*

the_schelling_model/P=0.6 t=3/*
the_schelling_model/P=0.6 t=4/*
the_schelling_model/P=0.8 t=3/*
the_schelling_model/P=0.8 t=4/*
the_schelling_model/P=0.8 t=3,5/*
coupled_oscillators/temp_data/*
threshold_model/build/*

# Ignore Filename Extensions
*.png
*.gif
*.bdb
*.bo
*.argos#
*.zip
*.pdf

# VSCode
.vscode/*
.vs/*
*.code-workspace